<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/addPeople" method="post">
    <input type="number" name="id" placeholder="What is your ID?">
    <input type="text" name="name" placeholder="What is your name?">
    <input type="text" name="goal" placeholder="What is your goal in life?">
    <button type="submit">All Set!</button>
    </form>
</body>
</html>